<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Horloge</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/clock.css">
</head>
<body>
<div>
<div class="clock">
        <div class="clock-face">
            <div class="hand hour-hand"></div>
            <div class="hand min-hand"></div>
            <div class="hand second-hand"></div>
        </div>
</div>

    <div class="back">
        <p class="backarrow"><a href="/" class="backward">Retour vers l'acceuil</a></p>
    </div>
</div>
<div class="date">
    <h1>Horloge</h1>
    <p class="time">L'heure actuelle est : <span id="currentTime"></span> </p>
</div>
<script src="javascripts/clock.js"></script>
</body>
</html>
```