<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
  </head>
  <body>
    <h1 class="h1"><%= title %></h1>
    <p class="lead">Bienvenue sur <%= title %></p>

  <div class="container w-100">
    <img src="images/home.png" width="1000px" alt="home" class="img-responsive" />
  </div>
    <div class="container">
    <p>
        <a href="/clock" class="pClock btn btn-primary">Consulter l'heure </a>
    </p>
    </div>
  </body>
</html>
